
/* Body */

body{

    background-color: cornsilk;
}
.thumbnail img{
  margin-right: 20px;
  margin-bottom: 20px;
  width:400px
}

@media (max-width: 640px) {
    .navbar{
        max-height: 60px;
        background-color:rgb(139, 114, 61);
      }
    }
    
    
    
    .navbar-brand {padding: 15;}
    
    .container-fluid {
      padding-right: 40px;
      padding-left: 40px;
    }
    .col-lg-4 {
        background:rgb(61, 134, 139)
      }
    .col-lg-8 {
        background: rgb(61, 134, 139)  
      }
    .col-4 {
        background: rgb(61, 134, 139)
    }
    .col-12{
        background:rgb(61, 134, 139)
    }
    
    
    
    h1 {
      color: rgb(0, 0, 0);
      text-align: center;
    }
    
    h2 {
      color: rgb(0, 0, 0);
      text-align: center;
    }
    
    h3 {
      color:rgb(0, 0, 0);
    } 
    h4 {
      padding: 0px;
      margin: 0;
      color:rgb(0, 0, 0);
      text-align: center;
    }
    
    h6 {
      padding: 0px;
      margin: 0;
      color: rgb(0, 0, 0);
      text-align: left;
    
    }
    
    hr { display: block; height: 1px;
      border: 0; border-top: 1px solid rgb(238, 135, 17);
      margin: 1em 0; padding: 0; }